{% extends 'base.html.twig' %}
 
{% block title %}DoIt - {{ page_title }} {% endblock %}

{% block body %}
<div class="task-container">
    {% if tasks is empty %}
    <div>No task in database.</div>
    {% else %}
      {% for task in tasks %}
        {% include "main/components/taskCard.html.twig" %}
      {% endfor %}
    {% endif %}
</div>
{% endblock %}
