{% extends 'base.html.twig' %}
 
{% block title %}DoIt - {{ page_title }} {% endblock %}

{% block body %}
  {% if tasks is empty %}
  <div>No task in database.</div>
  {% else %}
    {% for task in tasks %}
      <div class="task">{{ task.name }}</div>
    {% endfor %}
  {% endif %}
{% endblock %}
