.task-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem;
}

.task-card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #FAFAFA;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 5px 15px -15px #000000;
}

.task-group {
  padding: 0.25rem;
}

.task-top, .task-middle, .task-bottom {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.task-bottom {
  justify-content: flex-start;
  gap: 0.5rem;
}

.task-name {
  font-size: 2rem;
  font-weight: bold;
}

.task-status {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.status-done {
  background-color: #88FF88;
}

.status-pending {
  background-color: red;
}

.task-tags {
  display: flex;
  gap: 0.25rem;
  padding: 0 1rem 1rem;
}

.task-tags > .tag {
  padding: 0.25rem  0.75rem;
  background-color: #E3E3E3;
  border-radius: 1rem;
}

.rating {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 9rem;
  border-radius: 2rem;
  height: 1.5rem;
  align-items: center;
  gap: 0.25rem;
}

.rating > div {
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.rating > .rating-show {
  background-color: gray;
}

.rating > .rating-show:nth-child(4) {
  background-color: lightsalmon;
}

.rating > .rating-show:nth-child(5) {
  background-color: lightcoral;
}

.rating > .rating-hide {
  background-color: white;
  border: 1px dashed gray;
  transform: scale(0.9);
}