body {
  margin: 0;
  padding: 0;
}

#form-container {
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 70vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.form-field {
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: bold;
}

h2 {
  text-align: center;
}

#edit_task_taskGroup {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem
}

#edit_task_taskGroup > label {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: lightgray;
  user-select: none;
}

#edit_task_taskGroup > input:checked + label {
  background-color: slateblue;
}

#edit_task_taskGroup > input {
  display:none;
}

#edit_task_tags {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem
}

#edit_task_doneDate {
  display: none;
}

#edit_task:has(.form-field > #edit_task_isDone:checked) #edit_task_doneDate {
  display:block
}

#edit_task_tags > label {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: lightgray;
  user-select: none;
}

#edit_task_tags > input:checked + label {
  background-color: lightgreen;
}

#edit_task_tags > input {
  display:none;
}

#edit_task_save {
  width: 100%;
  margin: 1rem 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  transition: 0.15s ease;
  background-color: #DDDDDD;
}

#edit_task_save:hover {
  transform: scale(1.05);
  background-color: lightgreen;
}