body {
  margin: 0;
  padding: 0;
}

#form-container {
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 70vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.form-field {
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: bold;
}

h2 {
  text-align: center;
}